.mainproductos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7,auto);
    grid-template-areas: 
    "portadaproductos portadaproductos"
    "descproducto1 fotoproducto1"
    "fotoproducto2 descproducto2"
    "descproducto3 fotoproducto3"
    "fotoproducto4 descproducto4"
    "descproducto5 fotoproducto5"
    "fotoproducto6 descproducto6";
    overflow: hidden;
}
.portadaproductos{
    grid-area: portadaproductos;
    .indexproductos{
        background-image: url(../media/fotos/fondomenu.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        min-height: 40vh;
        h3{
            font-family: 'Macondo', cursive;
            color: rgba(255, 255, 255, 0.836);
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;
            font-size: 5rem;
        }
    }
}
.descproducto1{
    display: flex;
    grid-area: descproducto1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    h2{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-size: 3rem;
    }
    p{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 10px;
        line-height: 1.5;
    }
}
.fotoproducto1{
    display: flex;
    grid-area: fotoproducto1;
    justify-content: flex-start;
    img{
        width: 450px;
        height: 450px;
    }
}
.fotoproducto2{
    display: flex;
    grid-area: fotoproducto2;
    justify-content: flex-end;
    img{
        width: 450px;
        height: 450px;
    }
}
.descproducto2{
    display: flex;
    grid-area: descproducto2;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align:start;
    h2{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-size: 3rem;
    }
    p{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 10px;
        line-height: 1.5;
    }
}
.descproducto3{
    display: flex;
    grid-area: descproducto3;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    h2{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-size: 3rem;
    }
    p{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 10px;
        line-height: 1.5;
    }
}
.fotoproducto3{
    display: flex;
    grid-area: fotoproducto3;
    justify-content: flex-start;
    img{
        width: 450px;
        height: 450px;
    }
}
.fotoproducto4{
    display: flex;
    grid-area: fotoproducto4;
    justify-content: flex-end;
    img{
        width: 450px;
        height: 450px;
    }
}
.descproducto4{
    display: flex;
    grid-area: descproducto4;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    h2{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-size: 3rem;
    }
    p{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 10px;
        line-height: 1.5;
    }
}
.descproducto5{
    display: flex;
    grid-area: descproducto5;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    h2{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-size: 3rem;
    }
    p{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 10px;
        line-height: 1.5;
    }
}
.fotoproducto5{
    display: flex;
    grid-area: fotoproducto5;
    justify-content: flex-start;
    img{
        width: 450px;
        height: 450px;
    }
}
.fotoproducto6{
    display: flex;
    grid-area: fotoproducto6;
    justify-content: flex-end;
    img{
        width: 450px;
        height: 450px;
    }
}
.descproducto6{
    display: flex;
    grid-area: descproducto6;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    h2{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-size: 3rem;
    }
    p{
        font-family: 'Macondo', cursive;
        color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 10px;
        line-height: 1.5;
    }
}
